{% extends 'base.html' %}


{% block title %}Whale&Jaguar{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1>Concept Extraction</h1>
  <p>Extracts named entities, themes, and topics mentioned in a document, 
    disambiguates and cross-links them to DBpedia and Linked Data entities. 
  </p>
</div>
<div class="container-fluid">
  <form method="post" id="userForm">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-dark">Analize</button>
  </form>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      {{ data.text }}
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">

      <tr>

        <th scope="col">Concepts</th>
        <th scope="col">Words</th>
        <th scope="col">Score</th>
      </tr>

    </thead>
    <tbody>
        {% for item in concepts %}
      <tr>
        
        <th scope="row">{% if not item.types %}
          {{ item.surfaceForms.0.string }}</th>
          {% else %}
          {{ item.types.0 }}
          {% endif %}
        <th scope="row">{{ item.surfaceForms.0.string }}</th>
        <th scope="row">{{ item.surfaceForms.0.score }}</th>
       
      </tr>
      {% endfor %}
    </tbody>
</div>
</table>

{% endblock %}