{% extends 'base.html' %}

{% block title %}Whale&Jaguar{% endblock %}

{% block content %}
<div class="container p-4">
  <h6>Choose the type of analysis you want to do to your text:</h6>
  <div class="row p-4 m-4">
    {% if user.is_authenticated %}

    {% for option in options %}
    <div class="col">
      <div class="card">
        <a href="{% url option.1 %}" class="card-body btn btn-primary badge-dark">{{ option.0 }}</a>
      </div>
    </div>
    {% endfor %}

    {% else %}
    {% for option in options %}
    <div class="col">
      <div class="card">
        <a href="{% url 'login' %}" class="card-body btn btn-primary badge-dark">{{ option.0 }}</a>
      </div>
    </div>
    {% endfor %}

    {% endif %}
  </div>
</div>


{% endblock %}