{% extends 'base.html' %}

{% block title %}Whale&Jaguar{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <div class="row">
      {% for option in options %}
      <div class="col">
        <div class="card">
        <a href="{% url option.1 %}" class="card-body badge-dark">{{ option.0 }}</a>
      </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
  <p>You are not logged in</p>
  {% for option in options %}
  <div class="col"><a href="{% url 'login' %}" class="badge badge-dark">{{ option.0 }}</a></div>
  {% endfor %}  
  {% endif %}
</div>


{% endblock %}